html {
    height: 100%;
}
body {
    margin: 0;
    color: hsla(0, 0%, 0%, 75%);
    font-family: sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #4158D0;
    background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

h1 {
  font-size: 8em;
  margin-bottom: 0;
  margin-top: 1em;
}
h2 {
  margin-bottom: 7em;
}

footer {
  padding-top: 1em;
  width: 300px;
  margin: 0 auto;
  border-top: 1px solid hsla(0, 0%, 0%, 50%);
}

footer p {
  margin-bottom: 2em;
}

.websites a {
  font-size: 2em;
  margin: 0.5em;
  color: inherit;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.websites a:hover {
   opacity: 1;
}
